<md-dialog>
    <md-dialog-content>
        Welcome to TutorialsPoint.com
        <form>
            <md-input-container>
                <label>Bought to</label>
                <input type="text"
                       ng-model="currentSpend.boughtTo">
                </input>
            </md-input-container>
            <md-input-container>
                <label>Pricy</label>
                <input type="text"
                    ng-model="currentSpend.pricy">
                </input>
            </md-input-container>
            <md-input-container>
                <label>Acquired in</label>
                <input type="text"
                       ng-model="currentSpend.acquiredIn">
                </input>
            </md-input-container>
            <md-input-container>
                <label>Type</label>
                <input type="text"
                   ng-model="currentSpend.typeOf">
                </input>
            </md-input-container>
            <md-input-container>
                <label>Expiration Day</label>
                <input type="text"
                   ng-model="currentSpend.expirationDay">
                </input>
            </md-input-container>
            <md-input-container>
                <label>Description</label>
                <input type="text"
                   ng-model="currentSpend.description">
                </input>
            </md-input-container>
        </form>
    </md-dialog-content>
</md-dialog>